[Unit]
Description=UCTRONICS OLED display service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/uctronics-display
Restart=on-failure

[Install]
WantedBy=multi-user.target
